/**
 * Main Stylesheet
 * ---
 * 01. Base
 * 02. Utilities
 * 03. Layout
 * 04. Grid
 * 05. Button
 * 06. Header Bar
 * 07. Navigation
 * 08. Footer
 * 09. project
 * 10. Listings
 * 12. Others
 * 13. different px
 */

/* --------------------------------------------------------------------------*/
/* 00. Variables                                                             */
/* --------------------------------------------------------------------------*/
:root {

  /* Colors */
  --color-day: white;
  --color-background-gray: #F6F6F6;
  --color-night: #000000;
  --color-light-orange: #fa871d;
  --color-warm-yellow: #f5f1e9;
  --color-sunset-orange: #FD683A;
  --color-sunset-red: #F9273A;
  --color-dark-blue: #1377d5;
  --color-gray-1: #333;
  --color-gray-2: #999;
  --color-gray-3: #CCC;
  --color-gray-4: #EEE;
  --color-gray-5: #F9F9F9;
  --color-anchor: #0275d8;
  --color-anchor-hover: #025aa5;


  /* Fonts */
  --font-primary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-secondary: 'Exo', 'Helvetica Nueue', Helvetica, Arial, sans-serif;

  /* Metrics */
  --wrap-lg: 66rem;
  --wrap-md: 30rem;
  --wrap-sm: 22rem;
  --wrap-padding: 0rem;

}
/* --------------------------------------------------------------------------*/
/* 01. Base                                                                  */
/* --------------------------------------------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline-offset: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1;
  color: var(--color-night);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: var(--color-night);
    color: var(--color-day);
}

::-moz-selection {
    background: var(--color-night);
    color: var(--color-day);
}

/* Drop margin */
h1, h2, h3, p, ul, ol, blockquote, figure {
  margin-top: 0;
  margin-bottom: 1.6666rem;
}

/* Standard leading */
p, ul, ol, blockquote {
  line-height: 1.6666;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1, .h1 {
  font-family: var(--font-secondary);
  font-size: 2.370192597rem;
  font-weight: normal;
}

h2, h3,
.h2, .h3 {
  font-weight: bold;
  margin-bottom:  1.2rem;
}

h2, .h2 {
  font-family: var(--font-primary);
  font-size: 1.77768889rem;
}

h3, .h3 {
  font-family: var(--font-primary);
  font-size: 1.3333rem;
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.75rem;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #025aa5;
  text-decoration: underline;
}

figure {
  margin: 0;
}

code {
  display: inline-block;
  padding: 0.25rem;
  background-color: var(--color-gray-4);
  font-family: Monaco, Consolas, monospace;
  font-size: 0.75rem;
  line-height: 1.2;
}

img {
  vertical-align: top;
}

/* --------------------------------------------------------------------------*/
/* 02. Utilities                                                             */
/* --------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* Anchor marker */
.anchor {
  color: var(--color-gray-3);
  vertical-align: baseline;
}
.anchor:hover, .anchor:active, .anchor:focus {
  text-decoration: none;
}
.anchor::after {
  content: '#';
}

/* Inherit link */
.a-inherit {
  color: inherit;
}
.a-inherit:hover, .a-inherit:active, .a-inherit:focus {
  color: inherit;
}

/* Light link */
.a-light {
  color: white;
}
.a-light:hover, .a-light:active, .a-light:focus {
  color: var(--color-gray-5);
}

.img-responsive {
  display: block;
  max-width: 50%;
  height: auto;
}

.hidden {
  display: none;
}
/* --------------------------------------------------------------------------*/
/* 03. Layout                                                                */
/* --------------------------------------------------------------------------*/

.wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrap-padding);
  padding-right: var(--wrap-padding);
  max-width: var(--wrap-lg);
}

.wrap--md {
  max-width: var(--wrap-md);
}

.wrap--sm {
  max-width: var(--wrap-sm);
}

/* Flexbox sticky footer */
/* From https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.wrap-all {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrap-content {
  flex: 1;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 8%;
  padding-right: 8%;
}

.section--alt {
  background-color: var(--color-gray-4);
}
/* --------------------------------------------------------------------------*/
/* 04. Grid                                                                  */
/* Inspired by Flexbox Grid (see citations).                                 */
/* --------------------------------------------------------------------------*/

.row {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid-col-1of2{
  width: 45%;
  display:inline-block;
}

.col--1 { width: 8.3333%; }
.col--2 { width: 16.6666667%; }
.col--3 { width: 25%; }
.col--4 { width: 33.3333%; }
.col--5 { width: 41.6666667%; }
.col--6 { width: 50%; }
.col--7 { width: 58.3333%; }
.col--8 { width: 66.6666667%; }
.col--9 { width:  75%; }
.col--10 { width: 83.3333%; }
.col--11 { width: 91.6666667%; }
.col--12 { width: 100%; }

/* > 560px (md) */
@media screen and (min-width: 35em) {
  .col--1md { width: 8.3333%; }
  .col--2md { width: 16.6666667%; }
  .col--3md { width: 25%; }
  .col--4md { width: 33.3333%; }
  .col--5md { width: 41.6666667%; }
  .col--6md { width: 50%; }
  .col--7md { width: 58.3333%; }
  .col--8md { width: 66.6666667%; }
  .col--9md { width:  75%; }
  .col--10md { width: 83.3333%; }
  .col--11md { width: 91.6666667%; }
  .col--12md { width: 100%; }
}

/* > 720px (lg) */
@media screen and (min-width: 45em) {
  .col--1lg { width: 8.3333%; }
  .col--2lg { width: 16.6666667%; }
  .col--3lg { width: 25%; }
  .col--4lg { width: 33.3333%; }
  .col--5lg { width: 41.6666667%; }
  .col--6lg { width: 50%; }
  .col--7lg { width: 58.3333%; }
  .col--8lg { width: 66.6666667%; }
  .col--9lg { width:  75%; }
  .col--10lg { width: 83.3333%; }
  .col--11lg { width: 91.6666667%; }
  .col--12lg { width: 100%; }
}
/* --------------------------------------------------------------------------*/
/* 05. Button                                                                */
/* --------------------------------------------------------------------------*/

/* Regular button */
.btn {
  display: inline-block;
  position: relative;
  padding: 0.625rem 1rem 0.5rem 1rem;
  border-radius: 0;
  border: solid 3px var(--color-night);
  background-color: white;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: var(--color-gray-4);
  text-decoration: none;
  color: inherit;
}
.btn:active {
  top: 2px;
  background-color: var(--color-gray-3);
}
.btn:focus {
  outline: 0;
}

.btn--full {
  width: 100%;
}

/* Primary button */
.btn--primary {
  border-color: transparent;
  background-color:var(--color-light-orange);
  color: var(--color-gray-4);
}
.btn--primary:hover, .btn--primary:active, .btn--primary:focus {
  background-color:var(--color-sunset-orange);
  color: var(--color-night);
}
.btn--primary:active {
  background-color: #C75A11;
}
/* --------------------------------------------------------------------------*/
/* 07. Header bar                                                            */
/* --------------------------------------------------------------------------*/

.header-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
 background-color: white;
 padding-left: 6%;
 padding-right: 6%;
}

.logo {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  line-height: 1;
}
.logo:hover, .logo:active, .logo:focus {
  transform: scale(1.1);
  text-decoration: none;

}
.logo:active {
  top: 2px;
  color: var(--color-gray-2);
}

/* --------------------------------------------------------------------------*/
/* 08. Navigation                                                            */
/* --------------------------------------------------------------------------*/

.nav {
  margin-top: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

/* Menu */
.nav__menu {
  margin-right: 0.25rem;
  padding-left: 0;
  width: 5.5rem;
  list-style: none;
}
.nav__menu:hover {
  background-color: var(--color-day);
}

/* Menu chevron */
.nav__menu .nav__item:first-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  right: 16px;
  border: solid 5px transparent;
  border-top-width: 6px;
  border-top-color: white;
  width: 0;
  height: 0;
}

/* Hide menu items */
.nav__menu .nav__item:not(:first-child) {
  display: none;
}

/* Show menu items on hover */
.nav__menu:hover .nav__item {
  display: block;
}

/* Nav button */
.nav-btn {
  display: inline-block;
  position: relative;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-gray-2);
}
.nav-btn:hover, .nav-btn:active, .nav-btn:focus, .nav-btn.-active {
  text-decoration: none;
  color: black;
  border-bottom: 1px #ff3100 solid;

}
.nav-btn:active {
  top: 1px;
  color: var(--color-gray-2);
}

/* --------------------------------------------------------------------------*/
/* 09. Footer                                                                */
/* --------------------------------------------------------------------------*/

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-day);
  text-align: center;
  color: var(--color-night);
}

.footer__cta {
  margin-bottom: 2rem;
}

.footer__btn-cta {
  margin-top: 1rem;
}

.footer__copyright {
  margin-bottom: 0;
}

.footer__note {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: rgba(255,255,255,0.3);
}

/* --------------------------------------------------------------------------*/
/* 10. Project                                                                  */
/* --------------------------------------------------------------------------*/

.project {
  position: relative;
  background-color: #f1b851;
  background-size: cover;
  height: 25.5rem;
  margin-left:4%;
  margin-right:4%;

}

.portfolio--project--one{
  background-image: url(../img/project-one.jpg);
  background-position: top center;
}

.portfolio--project--two{
  background-image: url(../img/project-two.jpg);
  background-position: top center;
}
.portfolio--project--four{
  background-image: url(../img/project-four.jpg);
  background-position: top center;
}


.project__wrap {
  height: 100%;
}

.project__content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding-bottom: 4rem;
  padding-left: var(--wrap-padding);
  padding-right: var(--wrap-padding);
  width: 100%;
}

.project__title {
  margin-bottom: 0;
  font-size: 2.370192597rem;
  line-height: 1.3333;
  color: var(--color-night);
  text-align: center;
}

.project__tagline {
  margin-bottom: 0;
  font-size: 1.777728889rem;
  line-height: 1.3333;
  color: white;
}

.project__btn-cta {
  margin-top: 1rem;
}

.project__citation {
  position: absolute;
  right: var(--wrap-padding);
  bottom: 0;
  margin-bottom: 0.5rem;
  padding: 0.125rem 0.25rem;
  background-color: black;
  font-size: 0.5rem;
  color: rgba(255,255,255,0.5);
  opacity: 0.5;
}

.project--link{
  color:var(--color-night);
}
.project--link:hover, .project--link:active, .project--link:focus {
  color:var(--color-light-orange);
}

/* --------------------------------------------------------------------------*/
/* 11. Listings                                                              */
/* --------------------------------------------------------------------------*/

.listings {
  padding-left: 1%;
  padding-right:1%;
  margin-bottom: 2.6666rem;
  margin-top: 2.6666rem;
  list-style: none;


}
.listings--project{
  background-color: var(--color-gray-4);
  margin-top: 1rem;
}
.listings__item {
  flex-shrink: 0;

}
.listings__item--content--landing{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0 1rem 8rem 1rem;
  height: 100%;
  color:var(--color-day);
  line-height: 1.6666;

}
.listings__item-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 1rem 1rem;
  height: 100%;
  background-color: var(--color-gray-4);

  line-height: 1.6666;
}



.listings__item-title {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.listings__item-prop {
  display: block;
  font-size: 0.8rem;
}
.listings__item-prop:last-of-type {
  margin-bottom: 0.5rem;
}

.listings__item-cta {
  margin-top: auto;
}


/* --------------------------------------------------------------------------*/
/* 13. Others                                                                */
/* --------------------------------------------------------------------------*/

.map {
  width: 100%;
}

.grid-list {
  padding-left: 0.5rem;
  list-style-position: inside;
}

.img-item {
  margin-bottom: 0.5rem;
}

#name{

  padding-top:7rem;
  padding-bottom:9em;
}

#works{
  background-color:var(--color-day);
  padding-top:100px;
  margin-top: -100px;

}
#about{
  background-color:var(--color-warm-yellow);
  padding-top:100px;


}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.listings__project--one{
  background-image: url(../img/project-one.jpg);
  background-position: top center;
  background-size: cover;
}
.listings__project--two{
  background-image: url(../img/project-two.jpg);
  background-position: top center;
  background-size: cover;
}
.listings__project--three{
  background-color: #fb9b82;
}
.listings__project--four{
  background-image: url(../img/project-four.jpg);
  background-position: top center;
  background-size: cover;
}

.intro{
  background-color:var(--color-warm-yellow);
  padding-left: 21%;
}

.project-image{
 max-width: 86%;
 padding-left: 7%;
 padding-top:2em;
 padding-bottom:2em;
 margin-bottom:1em;
}


.landing-image-two{
   max-width: 85%;
}

/* --------------------------------------------------------------------------*/
/* 15. different px                                                          */
/* --------------------------------------------------------------------------*/
@media screen and (min-width: 40em) {

  .nav-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  .nav__menu .nav__item:first-child {
    display: none;
  }

  .nav__menu .nav__item:not(:first-child) {
    display: inline-block;
  }

  .nav-btn {
    margin-top: 0.375rem;
    color: var(--color-gray-2);
  }

  .nav__menu {
    margin-right: 0;
    width: auto;
  }

  .nav__menu:hover {
    background-color: transparent;
  }

  .logo {
    padding-top: 1.5rem;

  }
  .img--logo{
    max-width: 2.5rem;
  }
  .intro-name{
    font-size:2.077689rem;
    font-family: 'Exo', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  .intro-work{
    font-size:1.6333rem;
    font-family: 'Exo', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  .landing-image{
     max-width: 66%;
  }

  .intro-text{
  padding-top: 5%;
  }
}


@media screen and (max-width: 57em) {

  .intro-name{
    font-size:1.6333rem;
    font-family: 'Exo', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  .intro-work{
    font-size:1.1333rem;
    font-family: 'Exo', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  .bio{
    font-size: 0.8rem;
  }
  .landing-image-two{
     max-width: 95%;
  }
}
@media screen and (max-width: 40em)  {

  .img--logo{
    max-width: 2rem;
  }
  .landing-image{
     max-width: 80%;
  }
  #name {
    padding-top: 5rem;
    padding-bottom: 8em;
}
}
@media screen and (max-width: 629px) {

  .landing-image{
     max-width: 80%;
     margin-left:8%;

  }
  .intro-text{
    width:100%;
    margin-left:10%;
  }

}
@media screen and (max-width: 560px) {

  .landing-image{
     max-width: 60%;
     margin-left: 5%
  }
  .landing-image-two{
     max-width: 80%;
  }

}
}
